$secondary-color:#212121;
$white-color:#fff;
$primary-bg-color:#F9F6F1;
$button-color:#D7B399;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    object-fit: contain;
}
a {
    text-decoration: none;
}
ul, ol {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: $white-color;
    background-color: $button-color;
    border: none;
    padding: 5px 10px;
}
.body {
    font-family: 'Montserrat','Arial', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
.wrapper {
    padding: 0 25px;
    width: 1125px;
    margin: 0 auto;
}
//!aside
.stay-home {
    background-color: $secondary-color;
    color: $white-color;
    min-height: 75px;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.stay-home .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.icon-laptop {
    display: block;
    width: 45px;
    height: 45px;
    background-image: url(../img/laptop.svg);
    background-position: center;
    background-repeat: no-repeat;

}
.stay-home__title {
    text-align: center;
    padding-left: 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;    
    // flex-grow: 3;
}
.stay-home-list {
    margin-left: auto;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    // flex-grow: 1;
}
.stay-home__item {
    text-align: right;
}
//!aside end
//!header
.header {
    background-color: $primary-bg-color;
    min-height: 800px;
}
//? header-nav
.header__nav {
    padding-top: 30px;
    margin-bottom: 100px;
}
.nav-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.nav__item {
    margin-right: 20px;
}
.nav__item:nth-child(2n) {
    order: -4;
}
.nav__link {
    display: flex;
    align-items: center;
    color: $secondary-color;
}
.nav-sub-list {
    display: none;
}
.nav__logo {
    width: 40px;
    height: 40px;
}
.nav__logo  {
    margin-right: 10px;
}
.nav__logo-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
//? header-nav end

//? slider
.slider-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.slider__item {
    margin-bottom: 50px;
}
.slider__item--active {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider__item:not(.slider__item--active) {
    display: none;
}

.description-list {
    margin-bottom: 40px;
}
.description__item {
    font-weight: 500;
    font-size: 14px;
    list-style: auto;
    list-style-position: inside;
    margin-bottom: 5px;
}
.description-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 10px;
}
.description-subtitle {
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    letter-spacing: 0.04em;
    margin-bottom: 15px;
}
.description-text {
    margin-bottom: 20px;
    display: inline-block;
}
.descrpiption__button {
    text-transform: uppercase;
    width: 240px;
    min-height: 55px;
    font-size: 16px;
    line-height: 20px;
}
.slider-page-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.slider-page__item {
    margin-right: 15px;
    width: 40px;
    height: 7px;
    border-radius: 5px;
    background-color: #cecece;
    cursor: pointer;
}
.slider-page__item--active {
    background-color: #D7B399;
    cursor: default;
}
//? slider end
//!header end