* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    object-fit: contain;
}
a {
    text-decoration: none;
}
ul, ol {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
$secondary-color:#212121;
$white-color:#fff;
.body {
    font-family: 'Montserrat','Arial', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
.wrapper {
    padding: 0 25px;
    max-width: 1125px;
}
.stay-home {
    background-color: $secondary-color;
    color: $white-color;
    min-height: 55px;
    padding: 40px;
}
.stay-home .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.icon-laptop {
    display: block;
    width: 45px;
    height: 45px;
    background-image: url(../img/laptop.svg);
    background-position: center;
    background-repeat: no-repeat;

}
.stay-home__title {
    width: 70%;
}
.stay-home-list {
    width: 20%;
}